#landing-section{
    background-image: url('/assets/bck-1.png');
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}
.dlor-logoblue{
    width: 400px;
    height: 400px;
    filter: brightness(25%);
    transition: 0.5s;
    
}

.dlor-logoblue:hover{
    width: 400px;
    height: auto;
    filter: brightness(100%);
    transition: 0.5s;
}

.text-land-1{
    font-size: 30px;
    transition: 2s;
}
.text-land-1:hover{
    color: #3b8ca2;
    transition: 0.5s;
}
.text-land-2{
    font-size: 20px;
    transition: 2s;
}
.text-land-2:hover{
    color: #3b8ca2;
    transition: 0.5s;
}
.c-text-land-1{
    margin-top: 10px;
}
.c-text-land-2{
    margin-top: 20px;
}

.landing-text-p{
    padding: 0px;
}
.tagline{
    font-style: italic;
    font-size: 20px;  
}
@media only screen and (max-width:576px){
    .landing-text-p{
        padding-right:30px;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    .tagline{
        font-size: 15px;
        font-style: italic;  
    }
    .text-land-1{
        font-size: 20px;
        transition: 2s;
    }
    .pad-top-about{
        padding-top: 25px;
    }
}