#landing-section{
    background-image: url('/assets/bck-1.png');
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    position: relative;
    z-index: -1;
    padding-bottom: 30px;
    animation: landingback 4s infinite alternate;
}


@keyframes landingback {
    0%{
        transform:scale(1);
        transform: translateY(15px);
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
    100%{
        transform:scale(1.1);
        opacity: 1;
        transform: translateY(0);
        filter: drop-shadow(0 0 0.5rem #ffe75e);
    }
}


@keyframes dlor{
    0% {
        filter: brightness(25%);
      }
    100% {
        filter: brightness(100%);
    }
}

.dlor-logoblue{
    width: 400px;
    height: 400px;
    animation-name: dlor;
    animation-duration: 4s;
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}

.text-land-1{
    font-size: 30px;
    transition: 2s;
}
.text-land-1:hover{
    color: #3b8ca2;
    transition: 0.5s;
}
.text-land-2{
    font-size: 20px;
    transition: 2s;
}
.text-land-2:hover{
    color: #3b8ca2;
    transition: 0.5s;
}
.c-text-land-1{
    margin-top: 10px;
}
.c-text-land-2{
    margin-top: 20px;
}

.landing-text-p{
    padding: 0px;
}
.tagline{
    font-style: italic;
    font-size: 20px;  
}

@media only screen and (max-width:991px){
    .dlor-logoblue{
        width: auto;
        height: auto;
        filter: brightness(25%);
        transition: 0.5s;
        
    }
    .dlor-logoblue:hover{
        width: auto;
        height: auto;
        filter: brightness(100%);
        transition: 0.5s;
    }
}

@media only screen and (max-width:576px){
    .landing-text-p{
        padding-right:30px;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    .tagline{
        font-size: 15px;
        font-style: italic;  
    }
    .text-land-1{
        font-size: 20px;
        transition: 2s;
    }
    .pad-top-about{
        padding-top: 25px;
    }
}